<%= form_for(@job_order) do |f| %>
  <% if @job_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_order.errors.count, "error") %> prohibited this job_order from being saved:</h2>

      <ul>
      <% @job_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#service">Service</a></li>
          <li class="tab col s3"><a href="#details">Details</a></li>
        </ul>
      </div>
      <div id="service" class="col s12">
        <div class="field row">
          <div class="col s12">
            <p>
              <%= f.radio_button :select_client, true, class: "with-gap"%>
              <!-- <input name="select_client" type="radio" id="select_client"  class="with-gap"/> -->
              <label for="job_order_select_client_true" >
                Select Client
              </label>
            </p>
          </div>
        </div>

        <div class="field row">
          <div class="input-field col m6 s12">
            <%= f.select :client_id, options_for_select([['Please select', 0, {disabled: "disabled"}], *@clients.map{|client| [client.name, client.id]}], @job_order.client_id || 0), {}, "data-enabled-for": "job_order_select_client_true" %>
            <%= f.label :client_id %>
          </div>
        </div>

        <% if @job_order.new_record? %>
          <%= f.fields_for :client, @job_order.client do |builder| %>
            <div class="field row">
              <div class="col s12">
                <p>
                  <%= f.radio_button :select_client, false, class: "with-gap"%>
                  <label for="job_order_select_client_false" >
                    Add new Client
                  </label>
                </p>
              </div>
            </div>

            <div class="field row">
              <div class="input-field col m6 s12">
                <%= builder.text_field :name, "data-enabled-for": "job_order_select_client_false" %>
                <%= builder.label :name, 'Client Name' %>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="field row">
          <div class="col s12">
            <p>
              <%= f.radio_button :mode_of_shipment, JobOrder::MODE_OF_SHIPMENT_SEA, class: "with-gap"%>
              <label for="job_order_mode_of_shipment_<%= JobOrder::MODE_OF_SHIPMENT_SEA %>" >
                Sea
              </label>
            </p>
            <p>
              <%= f.radio_button :mode_of_shipment, JobOrder::MODE_OF_SHIPMENT_AIR, class: "with-gap"%>
              <label for="job_order_mode_of_shipment_<%= JobOrder::MODE_OF_SHIPMENT_AIR %>" >
                Air
              </label>
            </p>
          </div>
        </div>

        <div class="field row">
          <div class="col s12">
            <p>
              <%= f.radio_button :service_type, JobOrder::SERVICE_TYPE_IMPORT, class: "with-gap"%>
              <label for="job_order_service_type_<%= JobOrder::SERVICE_TYPE_IMPORT %>" >
                Import
              </label>
            </p>
            <p>
              <%= f.radio_button :service_type, JobOrder::SERVICE_TYPE_EXPORT, class: "with-gap"%>
              <label for="job_order_service_type_<%= JobOrder::SERVICE_TYPE_EXPORT %>" >
                Export
              </label>
            </p>
          </div>
        </div>

        <div class="field row">
          <div class="col s12">
            <p>
              <%= f.check_box :brokerage, class: "filled-in" %>
              <label for="job_order_brokerage">Brokerage</label>
            </p>
            <p>
              <%= f.check_box :forwarding, class: "filled-in" %>
              <label for="job_order_forwarding">Forwarding</label>
            </p>
          </div>
        </div>
      </div>
      <div id="details" class="col s12">
        <%= f.fields_for :bill, @job_order.bill do |builder| %>
          <%= render 'bills/bill_fields', f: builder %>
        <% end %>
      </div>
    </div>
    <div class="actions row">
      <div class="col s12">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>

<% end %>
