<p id="notice"><%= notice %></p>

<% content_for :page_title do %>
<span>Job Orders</span>  <a href='<%= "#{new_job_order_path}" %>' class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
<% end %>

<%= will_paginate(@job_orders) %>
<table class="highlight">
  <thead>
    <tr>
      <th>Code</th>
      <th>Client</th>
      <th>Date created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_orders.each do |job_order| %>
      <tr>
        <td><%= job_order.code %></td>
        <td><%= job_order.client_name %></td>
        <td><%= job_order.created_at_display %></td>
        <td><%= link_to 'Show', job_order %></td>
        <td><%= link_to 'Edit', edit_job_order_path(job_order) %></td>
        <td><%= link_to 'Destroy', job_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate(@job_orders) %>