<p id="notice"><%= notice %></p>

<% content_for :page_title do %>
<%= @client.name %>
<% end %>

<p>
  <strong>Contact person:</strong>
  <%= @client.contact_person %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @client.contact_number %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
