<%= form_for(@liquidation_form_line) do |f| %>
  <% if @liquidation_form_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@liquidation_form_line.errors.count, "error") %> prohibited this liquidation_form_line from being saved:</h2>

      <ul>
      <% @liquidation_form_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
