<div class="field row">
  <div class="input-field col m6 s12">
    <%= f.select :shipper_id, options_for_select([['Please select', 0, {disabled: "disabled"}], *@clients.map{|client| [client.name, client.id]}], @job_order.bill.shipper_id || 0) %>
    <%= f.label :shipper_id %>
  </div>

  <div class="input-field col m6 s12">
    <%= f.select :consignee_id, options_for_select([['Please select', 0, {disabled: "disabled"}], *@clients.map{|client| [client.name, client.id]}], @job_order.bill.consignee_id || 0) %>
    <%= f.label :consignee_id %>
  </div>
</div>

<div class="field row">
  <div class="input-field col s6">
    <%= f.text_field :reference_number %>
    <%= f.label :reference_number, 'BL/AWB No.' %>
  </div>

  <div class="input-field col s6">
    <%= f.text_field :master_reference_number %>
    <%= f.label :master_reference_number, 'MBL/MAWB No.' %>
  </div>
</div>

<div class="field row">
  <div class="input-field col m6 s12">
    <%= f.text_field :carrier %>
    <%= f.label :carrier, 'Carrier (Shipping Lines/Airlines/Co-loader)' %>
  </div>
  <div class="input-field col m6 s12">
    <%= f.text_field :carrier_name %>
    <%= f.label :carrier_name, 'Carrier Name (Aircraft/Vessel)' %>
  </div>
</div>

<div class="field row">
  <div class="input-field col m6 s12">
    <%= f.text_field :registry_number %>
    <%= f.label :registry_number %>
  </div>

  <div class="input-field col m6 s12">
    <%= f.text_field :port %>
    <%= f.label :port %>
  </div>
</div>

<div class="field row">
  <div class="input-field col m3 s6">
    <%= f.text_field :quantity %>
    <%= f.label :quantity, "Quantity (No. of pkgs)" %>
  </div>

  <div class="input-field col m3 s6">
    <%= f.number_field :gross_weight, step: "any" %>
    <%= f.label :gross_weight %>
  </div>

  <div class="input-field col m3 s6">
    <%= f.number_field :chargeable_weight, step: "any" %>
    <%= f.label :chargeable_weight, "Chargeable Weight (kg)" %>
  </div>

  <div class="input-field col m3 s6">
    <%= f.number_field :measurement, step: "any" %>
    <%= f.label :measurement, "Measurement (cbm)" %>
  </div>
</div>

<div class="field row">
  <div class="input-field col s6">
    <%= f.date_field :estimated_arrival_date, class: "datepicker" %>
    <%= f.label :estimated_arrival_date, 'Arrival date (est.)' %>
  </div>

  <div class="input-field col s6">
    <%= f.date_field :arrival_date, class: "datepicker" %>
    <%= f.label :arrival_date %>
  </div>
</div>

<div class="field row">
  <div class="input-field col m6 s12">
    <%= f.text_field :location %>
    <%= f.label :location %>
  </div>

  <div class="input-field col m3 s6">
    <%= f.text_field :destination %>
    <%= f.label :destination %>
  </div>

  <div class="input-field col m3 s6">
    <%= f.text_field :origin %>
    <%= f.label :origin %>
  </div>
</div>

<div class="field row">
  <div class="input-field col s12">
    <%= f.text_field :container_number, disabled: !@job_order.container_number_is_editable?, "data-enabled-for": "job_order_mode_of_shipment_1" %>
    <%= f.label :container_number %>
  </div>
</div>

<div class="field row">
  <div class="input-field col s6">
    <%= f.text_field :invoice_number %>
    <%= f.label :invoice_number %>
  </div>

  <div class="input-field col s6">
    <%= f.number_field :invoice_value, step: "any" %>
    <%= f.label :invoice_value %>
  </div>
</div>

<div class="field row">
  <div class="input-field col s12">
    <%= f.text_area :description, class: "materialize-textarea" %>
    <%= f.label :description %>
  </div>
</div>
