<!DOCTYPE html>
<html>
<head>
  <title>SWIFI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    <ul id="slide-out" class="side-nav fixed">
      <li><%= link_to 'Job Orders', job_orders_path %></li>
      <li><%= link_to 'Clients', clients_path %></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

    <header>
      <div class="nav-wrapper container">
        <%= link_to 'SWIFI', root_url, class: "brand-logo center" %>
      </div>
    </header>
  </nav>
  <main>
    <div class="main container">
      <h1><%= yield :page_title %></h1>
      <%= yield %>
    </div>
  </main>

</body>
</html>
