<!DOCTYPE html>
<html>
<head>
  <title>SWIFI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    <ul id="slide-out" class="side-nav fixed">
      <li>
        <div class="container">
          <form id="search_form" class="z-depth-1">
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </li>
      <%= list_item_to_active 'Job Orders', job_orders_path %>
      <%= list_item_to_active 'Clients', clients_path %>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

    <header>
      <div class="nav-wrapper container">
        <%= link_to 'SWIFI', root_url, class: "brand-logo center" %>
      </div>
    </header>
  </nav>
  <main>
    <div class="main container">
      <p id="notice"><%= notice %></p>
      <h1 class="page-title"><%= yield :page_title %></h1>
    </div>
    <div class="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </main>

</body>
</html>
