<!DOCTYPE html>
<html>
<head>
  <title>SWIFI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    <ul id="slide-out" class="side-nav fixed">
      <li>
        <form id="search_form" class="card">
          <div class="input-field">
            <input id="search" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </li>
      <ul class="collapsible" data-collapsible="expandable">
        <%= list_item_to_active 'Dashboard', root_url %>
        <%= list_item_to_active 'Job Orders', job_orders_path, class_active_if_controller: ["job_orders", "expenses"] %>
        <%= list_item_to_active 'Clients', clients_path, class_active_if_controller: ["clients"] %>
        <li>
          <%= active_content_tag :div, class_active_if_controller: [
              "expense_categories"
            ], class: "collapsible-header" do %>
            Expenses
          <% end %>
          <div class="collapsible-body">
            <ul>
              <%= list_item_to_active 'Categories',expense_categories_path %>
              <%= list_item_to_active "Default Categories", defaults_expense_categories_path %>
              <%#= list_item_to_active "Liquidations", li_path %>
            </ul>
          </div>
        </li>
      </ul>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

    <header>
      <div class="nav-wrapper container">
        <%= link_to 'SWIFI', root_url, class: "brand-logo center" %>
      </div>
    </header>
  </nav>
  <main>
    <div class="main container">
      <p id="notice"><%= notice %></p>
      <h1 class="page-title"><%= yield :page_title %></h1>
      <h5 class="page-sub-title"><%= yield :page_sub_title %></h5>
    </div>
    <div class="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </main>

</body>
</html>
